.sacola {
    background-color: rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 24px;
    min-width: 291px;
    max-height: 537px;
    overflow-y: auto;
  }
  .sacola header {
    background-color: #a785ed;
    display: flex;
    justify-content: center;
    max-height: 72px;
  }
  
  .sacola-main {
    padding: 24px 16px;
  }
  
  .input-cupom {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    background-color: #0b1217;
    padding: 0 16px;
  }
  
  .input-cupom input {
    align-self: center;
    all: unset;
    width: 100%;
  }
  .input-cupom:hover {
    border: 1px solid #8c8c8c;
  }
  .input-cupom button {
    background-color: transparent;
    border: 0;
  }
  
  footer {
    font-size: 12px;
  }